<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="bookDao1" class="com.funeasy.dao.BookDao"/>
    <bean id="book" name="bookService,bookService2" class="com.funeasy.service.BookService">
        <property name="bookDao" ref="bookDao1"/>
    </bean>
</beans>